@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Roboto, Verdana, Tahoma, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #222831;
    flex-wrap: wrap;
}

.container {
    margin: 20px;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.container > * {
    flex-grow: 1;
}

.row-div {
    display: flex;
}

.row-div > * {
    flex-grow: 1;
}

.buttons {
    margin: 20px;
    width: 210px;
    border: 3px solid #76ABAE77;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #31363F;
}


.buttons > * {
    padding: 20px;
}

.squares-button {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.squares-button span, .squares-button label {
    font-size: 18px;
    color: #EEEEEE;
}

#points {
    accent-color: #76ABAE;
}

.radio-field input, #eraser, #borders{
    accent-color: #76ABAE;
    width: 16px;
    height: 16px;
}


.squares-button span {
    font-weight: bold;
}


.color-options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.color-options  > .header{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: #EEEEEE;
}

.color-options > .radio-field {
    margin-left: 10px;
    margin-bottom: 5px;
    display: flex;
    gap: 10px;
    font-size: 18px;
    flex-wrap: wrap;
    color: #EEEEEE;
}


.eraser-button, .borders-button {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: #EEEEEE;
}


.reset-button button {
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #76ABAE77;
    font-weight: bold;
    font-size: 16px;
    color: #EEEEEE;
    background-color: transparent;
    cursor: pointer;
}