* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    width: 800px;
    height: 800px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.container > * {
    flex-grow: 1;
}

.row-div {
    display: flex;
}

.row-div > * {
    flex-grow: 1;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.buttons > * {
    padding: 20px;
}

.squares-button {
    border: 1px solid black;
}